*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(168, 168, 168);
}
header {
    height: 50px;
    width: 100%;
    text-align: center;
    padding-top: 20px;
}
.main {
    width: 1340px;
    margin-left: 300px;
}
.container {
    width: 1300px;
    margin-top: 30px;
}
.font {
     background-color:rgb(17, 12, 61);
     border-radius: 20px;
     height: 150px;
     width: 700px;
     padding-left: 35px;
     padding-top: 10px;
     padding-bottom: 10px;
     color: white;
     font-size: 18px;
     transform-duration: 0.8s;
}
.text-title{
    padding-top: 25px;
}
li {
    padding: 10px;
    font-size: 22px; 
    transform-duration: 0.8s;
}
.animation {
    height: 150px;
    width: 100%;
    background-color: rgb(17, 12, 61);
    border-radius: 20px;
    padding-left: 35px;
    padding-top: 25px;
    padding-bottom: 10px;
    color: white;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.font:hover{
    transition: 1s;
    width: 100%;
}
li:hover{
    font-size: 28px;
    transition: 1s;
}
.animblock {
    transform: skewX(25deg);
    transition: 1s;
    animation: skew 3s infinite;
    animation-direction: alternate;
    width: 100px;
    height: 100px;
    background-color: white;
}
@keyframes skew {
	0% {
	  transform: skewX(25deg);
	}
	100% {
	  transform: skewX(-25deg);
	}
}
.description {
    margin-top: 20px;
    font-size: 24px;
}
.background-img {
	height: 50vh;
	margin: 0 0 20px 0;
	background: url("../img/marvel.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.background-picture {
    max-width: 1300px;
    object-fit: cover;
    background-repeat: no-repeat;
}
.background-picture{
    max-width: 100%;
}
.cards-row {
    display: flex;
    margin: 0px -15px 70px -15px;
}
.cards-column {
    flex: 0 1 33.333%;
    display: flex;
    flex-direction: column;
    padding: 0px 15px;
}
.cards-image img {
    width: 420px;
	height: 200px;
	object-fit: cover;
	position: absolute;
}
.cards-text {
    padding-top: 210px;
    font-size: 18px;
}
.cards-image-bottom img {
    width: 420px;
	height: 200px;
	object-fit: cover;
	position: absolute;
}
.cards-main {
    display: flex;
    flex-direction: column;
    height: 800px;
    margin: 0px -15px 70px -15px;
}
.cards-text-bottom {
    padding-left: 430px;
    font-size: 20px;
}
